body {
    min-height: auto;
    height: max-content;
    display: flex;
    font-family: Verdana, serif;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    height: max-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 50px;
    margin: 100px auto;
}

a {
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: center;
}

.table {
    text-align: center;
}

.selector-for-some-widget {
    box-sizing: content-box;
}
